<title>Account details</title>
<div class="main-container">
  <h1>Account details</h1>
    <div class="info-container">Name:
      <div>
        <span class="info">{{name}}</span>
      </div>
    </div>
    <div class="info-container">Email:
      <div>
        <span class="info">{{email}}</span>
        <button pButton pRipple (click)="changeEmail()" routerLink="/user/change-user-details" routerLinkActive="routerLinkActive">Change email</button>
      </div>
    </div>
    <div class="info-container" *ngIf="isAdmin">Company:
      <div>
        <span class="info">{{company}}</span>
      </div>
    </div>
      <div class="info-container" *ngIf="isAdmin">Phone Number:
        <div>
          <span class="info" >{{personalPhoneNumber}}</span>
        </div>
    </div>
  <div class="change-pw">
    <span (click)="changePassword()" routerLink="/user/change-user-details" routerLinkActive="routerLinkActive">Change password</span>
  </div>
</div>



