<div>
<form [formGroup]="userForm">
  <div class="heading-container">
    <div *ngIf="accountDetailsType == null"><h1>Register</h1></div>
  </div>
  <div class="container">
    <h2 *ngIf="!!accountDetailsType">Change {{accountDetailsType}}</h2>
    <div class="email-container" *ngIf="accountDetailsType == 'email' || accountDetailsType == null">
        <label for="email" *ngIf="accountDetailsType == 'email'">New email</label>
        <label for="email" *ngIf="accountDetailsType == null">Email</label>
        <input id="email" type="text" required pInputText formControlName="username">
        <span class="p-error" *ngIf="userForm.controls.username.hasError('email')">Invalid mail!</span>
    </div>
    <div class="password-container" *ngIf="accountDetailsType == 'password' || accountDetailsType == null ">
      <label for="pw" *ngIf="accountDetailsType == null">Password</label>
      <label for="pw" *ngIf="accountDetailsType == 'password'" >New Password</label>
      <input id="pw" type="password" required pInputText formControlName="password">
      <span class="p-error" *ngIf="userForm.controls.password.hasError('pattern')">
          Password must contain at least one uppercase,one lowercase, one number and one symbol(@$!%*?&)
      </span>
    </div>
    <div class ="confirm-password" *ngIf="accountDetailsType == 'password' || accountDetailsType == null ">
      <label for="c-pw">Confirm password</label>
      <input id="c-pw" type="password" required pInputText formControlName="confirmPassword">
      <span class="p-error" *ngIf="userForm.controls.password.value != userForm.controls.confirmPassword.value" >Passwords do not match
      </span>
    </div>
    <span class="p-error">{{showError}}</span>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Cancel" routerLink="/user/account-details" *ngIf="!!accountDetailsType"></button>
    <button pButton pRipple type="button" label="Save" (click)="save()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="!!accountDetailsType"></button>
  </div>
</form>
  <br />
<form [formGroup]="adminForm" *ngIf="accountDetailsType == 'details' || accountDetailsType == null && isAdmin">

    <div *ngIf="accountDetailsType == null"><h1>Details</h1></div>

  <div class="container">
    <h2 *ngIf="!!accountDetailsType">Change {{accountDetailsType}}</h2>
    <div class="firstName">
      <label for="firstName" >First Name</label>
      <input id="firstName" type="text" required pInputText formControlName="firstName">
    </div>
    <div class="lastName">
      <label for="lastName" >Last Name</label>
      <input id="lastName" type="text" required pInputText formControlName="lastName">
    </div>
    <div class="company">
      <label for="company" >Company</label>
      <input id="company" type="text" required pInputText formControlName="company">
    </div>
    <div class="personalPhoneNumber">
      <label for="personalPhoneNumber" >Personal Phone Number</label>
      <input id="personalPhoneNumber" type="text" required pInputText formControlName="personalPhoneNumber">
    </div>
    <button pButton pRipple type="button" label="Cancel" routerLink="/user/account-details"></button>
    <button pButton pRipple type="button" label="Create" (click)="create()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="accountDetailsType == null"></button>
    <button pButton pRipple type="button" label="Save" (click)="save()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="!!accountDetailsType"></button>
    </div>
</form>
  <br />
  <form [formGroup]="customerForm" *ngIf="accountDetailsType == 'details' || accountDetailsType == null && !isAdmin">

    <div *ngIf="accountDetailsType == null"><h1>Details</h1></div>

    <div class="container">
      <h2 *ngIf="!!accountDetailsType">Change {{accountDetailsType}}</h2>
      <div class="name">
        <label for="name" >Name</label>
        <input id="name" type="text" required pInputText formControlName="name">
      </div>
      <div class="gender">
        <label for="gender" >Gender</label>
        <input id="gender" type="text" required pInputText formControlName="gender">
      </div>
      <div class="age">
        <label for="age" >Age</label>
        <input id="age" type="text" required pInputText formControlName="age">
      </div>
      <div class="buttons-container">
        <button pButton pRipple type="button" label="Cancel" routerLink="/home"></button>
        <button pButton pRipple type="button" label="Create" (click)="create()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="accountDetailsType == null"></button>
        <button pButton pRipple type="button" label="Save" (click)="save()" [disabled]="formValidation==='INVALID' || userForm.controls.password.value != userForm.controls.confirmPassword.value" *ngIf="!!accountDetailsType"></button>
      </div>
    </div>
  </form>
</div>

